
:root {
  /* CORES LIGHT MODE */
  --bg-body: #EFEEEE;
  --text-main: #25272A;

  --bg-header: #1D7B74;
  --border-header: #25272A;
  --hoverButton-Header:#2DA8B5;
  --text-buttons:#D3D6D9;
  --bg-footer: #d2cccc;

  --bg-hero: #D3D6D9;
  --text-sections:#1D7B74;

  --bg-card: #0C8370;
  --shadow-card: 0 10px 25px rgba(0,0,0,0.1);

  --bg-problem: #2DA8B5;
  --bg-problem-hover: #1D7B74;

  --btn-bg: linear-gradient(105deg, #1D7B74 0%, #2DA8B5 100%);
  --btn-hover: linear-gradient(-105deg, #1D7B74 0%, #2DA8B5 100%);
}

/* DARK MODE */
body.dark {
  --bg-body: #080809;
  --text-main: #D3D6D9;

  --bg-header: #05201E;
  --border-header:#8E8F8F;
  --hoverButton-Header:#033F31;
  --text-buttons:#D3D6D9;
  --bg-footer: #020617;

  --bg-hero: #25272A;
  --text-sections:#D3D6D9;

  --bg-card: #033F31;
  --shadow-card: 0 10px 25px rgba(0,0,0,0.5);

  --bg-problem: #1D5D5C;
  --bg-problem-hover: #033F31;

  --btn-bg: linear-gradient(105deg, #1D5D5C 0%, #05201E 100%);
  --btn-hover: linear-gradient(-105deg, #1D5D5C 0%, #05201E 100%);
}