
:root {
  /* CORES LIGHT MODE */
  --bg-body: #EFEEEE;
  --text-main: #25272A;

  --bg-header: #1D7B74;
  --border-header: #25272A;
  --hoverButton-Header:#2DA8B5;
  --text-buttons:#D3D6D9;
  --bg-footer: #d2cccc;

  --bg-hero: #D3D6D9;

  --bg-card: #cec7c7;
  --shadow-card: 0 10px 25px rgba(0,0,0,0.1);

  --bg-problem: #bfb9b9;
  --bg-problem-hover: #b3acac;

  --btn-bg: #555;
  --btn-hover: #000;
}

/* DARK MODE */
body.dark {
  --bg-body: #080809;
  --text-main: #D3D6D9;

  --bg-header: #05201E;
  --border-header:#8E8F8F;
  --hoverButton-Header:#033F31;
  --text-buttons:#D3D6D9;
  --bg-footer: #020617;

  --bg-hero: #25272A;

  --bg-card: #1e293b;
  --shadow-card: 0 10px 25px rgba(0,0,0,0.5);

  --bg-problem: #1e293b;
  --bg-problem-hover: #334155;

  --btn-bg: #334155;
  --btn-hover: #1f2937;
}