<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="buttonTema.css" />
     <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
    <title>Document</title>
  </head>
  <body>
 <div class="btnTema">
        <div class="iconTema">
          <i class="fa-regular fa-moon iconBtnTema"></i>
        </div>
      </div>

    <script src="buttonTema.js"></script>
  </body>
</html>
