@import url(../CSS/rootSac.css);
@import url(../../../components/header/header.css);
@import url(../../../components/footer/footer.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--cor-primaria);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0px;
}

.cont {
  background: var(--cor-card);
  padding: 30px;
  border-radius: 10px;
  width: 380px;
   box-shadow: var(--sombra-card);
  transition: box-shadow 0.3s ease;
}
.cont:hover {
  box-shadow:var(--sombra-card-hover)
}

.cont h2 {
  margin-bottom: 5px;
  color: var(--cor-titulo);
}

.cont p {
  margin-bottom: 15px;
  color: var(--cor-texto);
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.campo {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 4px;
  font-size: 14px;
  color: var(--cor-label);
}

input,
select,
textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
}

textarea {
  resize: none;
  height: 120px;
}

.btn {
  margin-top: 10px;
  padding: 12px;
  border: none;
  background: var(--cor-botao);
  color: var(--color-btn);
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: var(--cor-botao-hover);
}

#status {
  margin-top: 10px;
  text-align: center;
  color: green;
}
