@import url(../../../components/header/header.css);
@import url(../../../components/footer/footer.css);

body {
  background: var(--bg-body);
}
.campos {
  background-color: var(--card-bg);
  border-radius: 15px;
  margin: 0 auto;
  max-width: 707px;
  padding-bottom: 60px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px;
}
.titulo {
  text-align: center;
  color: var(--card-title);
}
.subtitulo {
  text-align: justify;
  margin-left: 30px;
  color: var(--card-title);

}
.pergunta {
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 20px;
  color: var(--card-title);

}
.formulario {
  margin-left: 30px;
  color: var(--card-title);

}
input[type="radio"] {
  margin-right: 10px;
}

.bt-resp{
  display: block;
  margin: 10px auto;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  background-color: var( --btn-bg);
  color: white;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
font-size: 16px;
max-width: 133px;
max-height: 44px;
}

.voltar{
    color: var(--btn-fechar);
  background: none;
}

@media (max-width: 1000px) {
main{
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.campos{
  margin: 0;
}

.titulo {
  font-size: 1.5rem;
}

}

@media (max-width: 600px) {
main{
  padding: 20px;
}

.subtitulo{
  font-size: 1rem;
}
.pergunta{
  font-size: 1rem;
}
}