@import url(../../../components/buttonTema/buttonTema.css);
@import url(./rootLogin.css);

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Inter', sans-serif;
}

img{
    display: block; 
    margin: 0 auto; 
    border-radius: 10px;
    margin-bottom: 20px;
    max-width: 100%; 
    height: auto;
}

.logo_img{
width:250px;
height:250px;
display:flex;
justify-content:center;
align-items:center;
border-radius:10px;
margin-bottom:20px;
}

.container{
width:100vw;
height:100vh;
background: linear-gradient(62deg,#4E4E4E,#B4B4B4);
display:flex;
justify-content:center;
align-items:center;
}

.Rectangle_3{
    width:100vw;
    min-height:100vh;
    background:#3B3B3B;
    display:flex;
    overflow:auto;
    position: relative; /* ESSENCIAL */
}

.btn {
    position: absolute;
    top: 20px;
    left: 20px; 
    display: flex;
    gap: 15px;
    align-items: center;
}

.btn a{
    text-decoration: none;
    gap: 5px;
}

.voltar {
    text-decoration: none;
    color: white;
    font-size: 15px;
}


.logo{
    width:50%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    color:white;
    text-align:center;
    padding:40px;
}


.LOGO_text{
font-size:40px;
font-weight:900;
}

.Slogan_da_Empresa{
    padding: 20px;
    font-size:28px;
    font-weight:600;
}

.Cadastro{
    width:40%;
    background:#848181;
    display:flex;
    justify-content:center;
    align-items:center;
}

.alinhamento{
    width:300px;
}

.LOGIN_Title{
    align-items: center;
    font-size:48px;
    font-weight:900;
    margin-bottom:40px;
}

.email,
.Senha{
margin-bottom:10px;
}

.EMAIL_label,
.SENHA_label{
font-size:14px;
display:block;
margin-bottom:5px;
}

.Rectangle_1,
.Rectangle_2{
width:100%;
height:40px;
background:rgba(91,87,87,0.6);
border-radius:10px;
display:flex;
align-items:center;
padding:10px;
}

.Rectangle_1 input,
.Rectangle_2 input{
    flex:1;
    border:none;
    background:transparent;
    outline:none;
    color:white;
    font-size:14px;
}

input::placeholder{
color:#4a4a4a;
}


.Esqueceu_a_Senha{
font-size:13px;
display:block;
margin-top:5px;
text-align:right;
text-decoration:none;
color:black;
}

.button{
margin-top:30px;
}

.Rounded_rectangle{
    width:100%;
    height:45px;
    border:none;
    border-radius:8px;
    background:linear-gradient(to right,#d3cdcd,#a9a4a4);
    font-weight:800;
    cursor:pointer;
}

.Nao_tem_Cadastro{
margin-top:10px;
font-size:14px;
}

.Line_1{
    width:100%;
    height:1px;
    background:#5a5a5a;
    margin:25px 0;
}

.Frame_4{
text-align:center;
}

.Frame_3{
margin-top:15px;
display:flex;
justify-content:center;
align-items:center;
gap: 15px;
}

.google_icon, .apple_icon{
width:40px;
height:40px;
background:white;
border-radius:50px;

display:flex;
align-items:center;
justify-content:center;

font-size:20px;
cursor:pointer;
}

.google_icon img, .apple_icon img{
width:24px;
height:24px;
}

.google_icon:hover,
.apple_icon:hover{
transform:scale(1.1);
transition:0.2s;
}

@media (max-width: 900px) {

    .Rectangle_3 {
        flex-direction: column; /* muda de lado a lado → em coluna */
    }

    .logo {
        width: 100%;
        height: 40%;
        padding: 20px;
    }

    .logo_img {
    width:250px;
    height:250px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:10px;
    padding: 10px;
    }

    .Cadastro {
        width: 100%;
        height: 60%;
        border-radius: 20px 20px 0 0; /* deixa arredondado igual app */
    }

    .alinhamento {
        width: 90%;
        max-width: 350px;
    }

    .LOGIN_Title {
        font-size: 32px;
        margin-bottom: 20px;
        text-align: center;
    }

    .btn {
        width: 100%;
        justify-content:space-between;
        left: 0px;
        padding: 0px 20px;
    }
    
}

@media (max-height: 700px){
    .LOGIN_Title{
        display: flex;
        justify-content:center;
        margin-top: 80px;
    }
    .logo_img{
        margin-top: 100px;
    }
}