@import url(../../../components/buttonTema/buttonTema.css);
@import url(./rootLogin.css);

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: "Poppins", sans-serif;
}

img{
    display: block; 
    margin: 0 auto; 
    border-radius: 10px;
    margin-bottom: 20px;
    max-width: 100%; 
    height: auto;
}

.logo_img{
width:250px;
height:250px;
display:flex;
justify-content:center;
align-items:center;
border-radius:10px;
margin-bottom:20px;
}

.container{
width:100vw;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.Rectangle_3{
    width:100vw;
    min-height:100vh;
    background:var(--bg-body);
    display:flex;
    overflow:auto;
    position: relative; /* ESSENCIAL */
}

.btn {
    position: absolute;
    top: 20px;
    left: 5%; 
    display: flex;
    gap: 15px;
    align-items: center;
}

.btn a{
    text-decoration: none;
    gap: 5px;
}

.voltar {
    text-decoration: none;
    color:var(--color-text);
    font-size: 15px;
}


.logo{
    width:50%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background: var(--bg-gradient);
    text-align:center;
    padding:40px;
    margin-left: 5%;
}


.LOGO_text{
font-size:40px;
font-weight:900;
}

.Slogan_da_Empresa{
    padding: 20px;
    font-size:28px;
    font-weight:600;
}

.Cadastro{
    width:40%;
    background:var(--bg-login);
    color: var(--color-text);
    display:flex;
    justify-content:center;
    align-items:center;
}

.alinhamento{
    width:300px;
}

.LOGIN_Title{
    align-items: center;
    font-size:48px;
    font-weight:900;
    margin-bottom:40px;
}

.email,
.Senha{
margin-bottom:10px;
}

.EMAIL_label,
.SENHA_label{
font-size:14px;
display:block;
margin-bottom:5px;
}

.Rectangle_1,
.Rectangle_2{
width:100%;
height:40px;
background:var(--bg-input);
border-radius:10px;
display:flex;
align-items:center;
padding:10px;
}

.Rectangle_1 input,
.Rectangle_2 input{
    flex:1;
    border:none;
    background:transparent;
    outline:none;
    color: var(--color-input);
    font-size:14px;
}

input::placeholder{
color:var(--color-placeholder);
}


.Esqueceu_a_Senha{
font-size:13px;
display:block;
margin-top:5px;
text-align:right;
color:var(--color-text);
}

.Esqueceu_a_Senha:hover{
     color: var(--hover-link)
}

.button{
margin-top:30px;
width: 100%;
}

.Rounded_rectangle{
    display: block;
    text-align: center;
    width:100%;
    height:45px;
    border:none;
    border-radius:15px;
    background: var(--btn-login);
    color:var(--color-text);
    font-weight:800;
    cursor:pointer;
    text-decoration: none;
    padding: 10px;
    border: 0.5px solid var(--color-text);
    transition: 0.3s;
}

.Rounded_rectangle:hover{
    background: var(--btn-login-hover);
}

.Nao_tem_Cadastro{
margin-top:10px;
font-size:14px;
color: var(--color-text);
}

.Nao_tem_Cadastro a{
color: var(--color-text);
}
.Nao_tem_Cadastro a:hover{
    color: var(--hover-link)
}

.Line_1{
    width:100%;
    height:1px;
    background:var(--color-text);
    margin:25px 0;
}

.Frame_4{
text-align:center;
}

.Frame_4 p{
    color: var(--color-text)
}

.Frame_3{
margin-top:15px;
display:flex;
justify-content: center;
align-items: center;
gap: 24px;
}

.google_icon, .apple_icon{
    margin: 0px;
}


.google_icon:hover,
.apple_icon:hover{
transform:scale(1.1);
transition:0.2s;
}

@media (max-width: 900px) {

    .Rectangle_3 {
        flex-direction: column; /* muda de lado a lado → em coluna */
    }

    .logo {
        width: 100%;
        height: 40%;
        padding: 20px;
            margin-left: 0%;
    }

    .logo_img {
    width:250px;
    height:250px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:10px;
    padding: 10px;
    }

    .Cadastro {
        width: 100%;
        height: 60%;
        padding: 50px;
        border-radius: 20px 20px 0 0; /* deixa arredondado igual app */
    }

    .alinhamento {
        width: 90%;
        max-width: 350px;
    }

    .LOGIN_Title {
        font-size: 32px;
        margin-bottom: 20px;
        text-align: center;
    }

    .btn {
        width: 100%;
        justify-content:space-between;
        left: 0px;
        padding: 0px 20px;
    }
    
}

@media (max-height: 700px){
    .LOGIN_Title{
        display: flex;
        justify-content:center;
        margin-top: 80px;
    }
    .logo_img{
        margin-top: 100px;
    }
}