@import "tema.css";
@import "dashboard.css";
@import "form.css";
@import "table.css";
@import "navbar.css";
@import "root.css";
@import url(../../../components/buttonTema/buttonTema.css);

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

