@import "tema.css";
@import "dashboard.css";
@import "form.css";
@import "table.css";
@import "navbar.css";
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  text-decoration: none;
font-family: "Poppins", sans-serif;
}

body{
  width:100%;
}
