/* FORM */

.newItem {
  margin-bottom: 20px;
}

form {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
}

input,
select {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid var(--input-border);
  background: var(--input-bg);
}

button {
  padding: 8px 16px;
  border: none;
  background: var(--btn-bg);
  color: var(--btn-text);
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: var(--btn-hover);
}
