/* ================= TABELA ================= */

.divTable {
  background: var(--bg-table-box);
  border-radius: 8px;
  padding: 10px;
}

#formTransacao {
  margin-bottom: 3%;
}
#formTransacao input,
#formTransacao select {
  background: var(--input-bg);
  color: var(--input-text);
  border: 1px solid var(--input-border);
  padding: 8px;
  border-radius: 6px;
}

#formTransacao input::placeholder {
  color: var(--input-placeholder);
}

table {
  width: 100%;
  border-collapse: collapse;
  color: var(--text-table);
}

thead {
  display: table;
  width: 100%;
  table-layout: fixed;
  background: var(--bg-thead);
}

tbody {
  display: block;
  max-height: 150px;
  overflow-y: auto;
}

tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-bottom: 1px solid var(--tr-border);
}

tbody tr:hover {
  background: var(--tr-hover);
}

th,
td {
  padding: 12px;
  text-align: center;
}

/* ================= SCROLL ================= */

tbody::-webkit-scrollbar {
  width: 6px;
}

tbody::-webkit-scrollbar-thumb {
  background: var(--scroll-thumb);
  border-radius: 10px;
}

tbody::-webkit-scrollbar-track {
  background: var(--scroll-track);
}

/* ================= COLUNAS ================= */

.columnAmount,
.columnType,
.columnAction {
  text-align: center;
}
