/* TABELA */
.divTable {
  background: white;
  border-radius: 8px;
  padding: 10px;
}
#formTransacao{
  margin-bottom: 3%;
}
table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  display: table;
  width: 100%;
  table-layout: fixed;
  background: #ecf0f1;
}

tbody {
  display: block;
  max-height: 150px;
  overflow-y: auto;
}

tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

th,
td {
  padding: 12px;
  text-align: center;
}

/* SCROLL */

tbody::-webkit-scrollbar {
  width: 6px;
}

tbody::-webkit-scrollbar-thumb {
  background: #3498db;
  border-radius: 10px;
}

tbody::-webkit-scrollbar-track {
  background: #ecf0f1;
}

.columnAmount,
.columnType,
.columnAction {
  text-align: center;
}
