:root {
  --color-primary: #1d7b74;
  --color-background: #f4f4f4;
  --color-text: #333;
  --color-white: #d3d6d9;
  --color-card: #b2b3b3;
  --color-icon-bg: rgba(245, 247, 250, 0.5);
  --color-menu-hover-mobile: rgba(255, 255, 255, 0.1);
  --color-menu-hover-mobile-active: rgba(255, 255, 255, 0.18);
  --color-background-menu-mobile: rgba(255, 255, 255, 0.1);
  --hoverButton-Header: #2da8b5;
  --text-buttons: #d3d6d9;

	/*tema escuro*/
	
	body.dark {
  --color-navbar: rgba(5, 32, 30, 1);
  --color-text: rgba(211, 214, 217, 1);
  --color-card: rgba(37, 39, 42, 1);
  --color-background: #000000;
  --color-icons: rgba(105, 106, 107, 1);
}

}
